package GUIx

import "fmt"

templ linkButton(id, label, classes string, link templ.SafeURL) {
	<a href={link}>
		<button id={id} type="button" 
		if classes != "" {
			class={fmt.Sprintf("btn %v", classes)}
		} else {
			class="btn"
		} >{label}</button>
	</a>
}