package GUIx

import "strings"

templ BasicButton(id, label string, classes ...string) {
	
	<button id={id} type="button" 
	if len(classes) > 0 {
		class={strings.Join(append(classes, "btn"), " ")}
	} else {
		class="btn"
	} >{label}</button>
}